<div id="page_content">
    <form name="device_form" id="device_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required"
          novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-success" ui-sref="device-manager">Điều khiển</a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <a class="uk-text-success" ui-sref="devices">Thiết bị</a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <span data-translate="global.button.edit"></span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <button has-any-authority="ROLE_SYSTEM_ADMIN,ROLE_FARM_ADMIN, Device_Update" ng-click="submit(false)"
                        type="submit" class="md-btn md-btn-success md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.save"></span></button>
                <button has-any-authority="ROLE_SYSTEM_ADMIN,ROLE_FARM_ADMIN, Device_Update" ng-click="submit(true)"
                        type="submit" class="md-btn md-btn-success md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.saveAndClose"></span></button>
                <a has-any-authority="ROLE_SYSTEM_ADMIN,ROLE_FARM_ADMIN, Device_View"
                   ui-sref="devices-detail({ deviceId: device.id })" class="md-btn md-btn-small"><span
                        class="uk-text-bold"
                        data-translate="global.button.cancel"></span></a>
            </div>
        </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-8-10">
                            <div class="uk-grid ">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold">Khu vực sản xuất</label><span class="req">*</span>
                                    </div>
                                </div>
                                <div class=" uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <input id="area_combobox" name="area_combobox"
                                           ng-required="true"
                                           data-parsley-required-message="{{messages.required}}"
                                           data-parsley-trigger="focusin focusout"
                                           position="bottom"
                                           config="ComboBox['area_combobox'].config"
                                           options="ComboBox['area_combobox'].options"
                                           ng-model="device.areaId"
                                           table="ComboBox['area_combobox'].table"
                                           column="ComboBox['area_combobox'].column"
                                           ng-change="areaChange()"
                                           ng-model-object="selectedCbb.area"
                                           scope-controller="ComboBox['area_combobox'].scope" selectize>
                                </div>

                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold custom-label ng-scope"
                                               data-translate="device.field.shortName"></label>
                                    </div>
                                </div>
                                <div class=" uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <div class="text-padding-top">
                                        <span class="uk-text-normal" ng-bind="device.areaShortName"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold custom-label ng-scope"
                                               data-translate="device.field.type"></label><span class="req">*</span>
                                    </div>
                                </div>
                                <div class=" uk-width-small-2-3  uk-width-medium-2-6 parsley-row">
                                    <input ng-if="device.type == 2" readonly
                                           class="md-input ng-isolate-scope md-input-processed"
                                           type="text" value="Gateway"/>
                                    <input ng-if="device.type == 1" readonly
                                           class="md-input ng-isolate-scope md-input-processed"
                                           type="text" value="Device"/>
                                    <input ng-if="device.type == 3" readonly
                                           class="md-input ng-isolate-scope md-input-processed"
                                           type="text" value="Khác"/>
                                    <!--<input id="typeSelect"
                                           placeholder="chọn loại"
                                           ng-required="true"
                                           data-parsley-required-message="{{messages.required}}"
                                           config="selectize_type_config"
                                           options="selectize_type_options"
                                           position="bottom"
                                           ng-model="device.type"
                                           selectize="">-->
                                </div>

                                <div ng-if="device.type == 2" class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.state"></label>
                                    </div>
                                </div>
                                <div ng-if="device.type == 2"
                                     class=" uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <div class="custom-disabled custom-label">
                                        <span ng-if="device.state == 1" class="uk-badge uk-badge-success"><span
                                                class="material-icons">wb_sunny</span>&nbsp;Bật</span>
                                        <span ng-if="device.state == 0" class="uk-badge uk-badge-danger"><span
                                                class="material-icons">highlight_off</span>&nbsp;Tắt</span>
                                        <div ng-if="device.state == 2" style="width: 50%"
                                             class="uk-progress uk-progress-warning uk-progress-striped uk-active"
                                             title="Đang cập nhật...">
                                            <div class="uk-progress-bar" style="width: 100%"><span style="color: black"><i>Đang cập nhật...</i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="device.type == 1" class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.belongGW"></label>
                                    </div>
                                </div>
                                <div ng-if="device.type == 1"
                                     class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <input ng-model="device.gatewayName"
                                           ng-readonly="true"
                                           id="gatewayName" type="text"
                                           name="gatewayName" class="md-input ng-isolate-scope md-input-processed"
                                           md-input="">
                                    <span class="md-input-bar "></span>
                                </div>
                            </div>

                            <div class="uk-grid ">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.alias"></label><span class="req">*</span>
                                    </div>
                                </div>
                                <div class=" uk-width-small-2-3  uk-width-medium-2-6 parsley-row">
                                    <input ng-model="device.alias"
                                           data-parsley-maxlength="255"
                                           data-parsley-maxlength-message="{{messages.maxLength255}}"
                                           data-parsley-whitespace="trim"
                                           id="deviceName" type="text"
                                           name="aliasName"
                                           data-parsley-required-message="{{messages.required}}"
                                           required=""
                                           data-parsley-trigger="change"
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar "></span>
                                </div>

                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.serial"></label><span
                                            class="req">*</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3  uk-width-medium-2-6 parsley-row">
                                    <input ng-model="device.serial"
                                           ng-readonly="true"
                                           data-parsley-maxlength="255"
                                           data-parsley-maxlength-message="{{messages.maxLength255}}"
                                           data-parsley-whitespace="trim"
                                           id="serial" type="text"
                                           name="serial"
                                           data-parsley-required-message="{{messages.required}}"
                                           required=""
                                           data-parsley-trigger="change"
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar"></span>
                                </div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.code"></label><span
                                            class="req">*</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3  uk-width-medium-2-6 parsley-row">
                                    <input ng-model="device.code"
                                           ng-readonly="true"
                                           data-parsley-maxlength="255"
                                           data-parsley-maxlength-message="{{messages.maxLength255}}"
                                           data-parsley-whitespace="trim"
                                           id="code" type="text"
                                           name="serial"
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar"></span>
                                </div>

                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.timer"></label><span
                                            class="req">*</span>
                                    </div>

                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <input ng-model="device.timer"
                                           id="timer"
                                           name="timer"
                                           ng-required="true"
                                           data-parsley-required-message="{{messages.required}}"
                                           data-parsley-pattern="^\d{0,3}?$"
                                           data-parsley-pattern-message="Nhập số nguyên tối đa 3 chữ số"
                                           min="0"
                                           max="999"
                                           data-parsley-range="[0,999]"
                                           data-parsley-range-message="Nhập số nguyên tối đa 3 chữ số"
                                           type="number"
                                           step="any"
                                           data-parsley-trigger="change"
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                </div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold custom-label ng-scope"
                                               data-translate="device.field.ipeName"></label><span class="req"></span>
                                    </div>
                                </div>
                                <div class=" uk-width-small-2-3  uk-width-medium-2-6 parsley-row">
                                    <input ng-model="device.ipeName"
                                           data-parsley-maxlength="255"
                                           data-parsley-maxlength-message="{{messages.maxLength255}}"
                                           data-parsley-whitespace="trim"
                                           id="ipeName" type="text"
                                           name="ipeName" ng-readonly="true"
                                           data-parsley-trigger="change"
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar"></span>
                                </div>

                                <!--loai vendor cua thiet bi-->
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold custom-label ng-scope"
                                               data-translate="device.field.vendor"></label><span class="req"> *</span>
                                    </div>
                                </div>
                                <div class=" uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <input id="vendorId_combobox" name="vendorId_combobox"
                                           ng-required="true"
                                           data-parsley-required-message="{{messages.required}}"
                                           data-parsley-trigger="focusin focusout"
                                           position="bottom"
                                           config="ComboBox['vendorId_combobox'].config"
                                           options="ComboBox['vendorId_combobox'].options"
                                           ng-model="device.vendorId"
                                           table="ComboBox['vendorId_combobox'].table"
                                           column="ComboBox['vendorId_combobox'].column"
                                           ng-model-object="selectedCbb.vendorId"
                                           scope-controller="ComboBox['vendorId_combobox'].scope" selectize>
                                </div>
                            </div>

                            <div ng-if="device.type==1" class="uk-grid ">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold" data-translate="device.field.category"></label><span
                                            class="req">*</span>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <div ng-class="{'custom-disabled': device.gatewayId}">
                                        <input id="categorySelect"
                                               placeholder="chọn danh mục"
                                               ng-required="device.type == 1"
                                               data-parsley-required-message="{{messages.required}}"
                                               config="selectize_category_config"
                                               options="selectize_category_options"
                                               position="bottom"
                                               ng-model="device.category"
                                               selectize="">
                                    </div>
                                </div>
                            </div>

                            <div ng-if="!device.gatewayId" class="uk-grid">
                                <div class="uk-width-small-1-3 uk-width-medium-1-6">
                                    <div class="custom-label">
                                        <label class="label-bold ">Token</label>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                                    <textarea ng-readonly="true" rows="5" cols="90">{{device.token}}</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="uk-width-medium-2-10">
                            <div class="user_heading_avatar custom-avatar-center" data-provides="fileinput"
                                 ng-mouseenter="user.mouseEnter = true"
                                 ng-mouseleave="user.mouseEnter = false">

                                <img ng-if="device.avatar || user.userAvatarBase64" class="uk-border-circle"
                                     ng-src="{{user.userAvatarBase64 ? user.userAvatarBase64 : '/attachment/images/' + device.avatar}}"
                                     alt="user avatar" width="200" height="200"/>
                                <img ng-if="!device.avatar && !user.userAvatarBase64" class="uk-border-circle"
                                     ng-src="assets/img/avatars/avatar.jpg" alt="user avatar" width="200" height="200"/>

                                <div class="user_avatar_controls">
                                    <span class="btn-file uk-form-file custom-upload-icon" title="Maximum size: 64K">
                                        <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                        <input-upload create="true"></input-upload>
                                    </span>
                                    <a ng-show="user.mouseEnter && (device.avatar || user.userAvatarBase64)"
                                       ng-click="deleteUserAvatar()" class="btn-file fileinput-exists js-uk-prevent"
                                       title="Delete"><i class="material-icons">&#xE5CD;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-if="device.type==2">
                        <ul class="uk-tab" data-uk-tab="{connect:'#contract_tabs'}">
                            <li class="uk-active"><a href="#" ng-click="changeTab(1)"><h4 class="heading_a">Ds thiết bị
                                thuộc Gateway</h4></a></li>
                        </ul>
                        <ul id="contract_tabs" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-overflow-container uk-margin-bottom table-height-fixed">
                                    <table class="hoverTable uk-table uk-table-align-vertical uk-table-striped  tablesorter tablesorter-altair table-fixed"
                                           id="devices">
                                        <thead>
                                        <tr>
                                            <!--<th data-name="Select"><input type="checkbox" class="ts_checkbox_all"></th>-->
                                            <th><b data-translate="device.field.code"></b></th>
                                            <th><b data-translate="device.field.alias"></b></th>
                                            <th><b data-translate="device.field.serial"></b></th>
                                            <th><b data-translate="device.field.type"></b></th>
                                            <th><b data-translate="device.field.area"></b></th>
                                            <th><b data-translate="device.field.shortName"></b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="obj in device.devices" on-last-repeat
                                            ng-class="{'hoverRow': !obj.unRemove, 'custom-un-remove': obj.unRemove}"
                                            title="{{obj.unRemove}}">
                                            <!--<td><input id="{{obj.id}}" type="checkbox" class="ts_checkbox" data-md-icheck icheck ng-model="row_select"></td>-->
                                            <td><a ui-sref="devices-detail({deviceId: obj.id })">{{obj.code}}</a></td>
                                            <td>
                                                <div class="parsley-row">
                                                    <input ng-model="obj.alias"
                                                           data-parsley-maxlength="255"
                                                           data-parsley-maxlength-message="{{messages.maxLength255}}"
                                                           data-parsley-whitespace="trim"
                                                           id="deviceNameTable{{$index}}" type="text"
                                                           data-parsley-required-message="{{messages.required}}"
                                                           required=""
                                                           data-parsley-trigger="change"
                                                           class="md-input ng-isolate-scope md-input-processed"
                                                           md-input="">
                                                    <span class="md-input-bar "></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="parsley-row">
                                                    <input ng-model="obj.serial"
                                                           data-parsley-maxlength="255"
                                                           data-parsley-maxlength-message="{{messages.maxLength255}}"
                                                           data-parsley-whitespace="trim"
                                                           id="serialTable{{$index}}" type="text"
                                                           data-parsley-required-message="{{messages.required}}"
                                                           required=""
                                                           data-parsley-trigger="change"
                                                           class="md-input ng-isolate-scope md-input-processed"
                                                           md-input="">
                                                    <span class="md-input-bar "></span>
                                                </div>
                                            </td>
                                            <td>
                                                <span ng-if="obj.type == 2">Gateway</span>
                                                <span ng-if="obj.type == 1">Thiết bị</span>
                                                <span ng-if="obj.type == 3">Khác</span>
                                            </td>
                                            <td>
                                                <div class="parsley-row">
                                                    <input
                                                            ng-required="false"
                                                            data-parsley-required-message="{{messages.required}}"
                                                            data-parsley-trigger="focusin focusout"
                                                            position="bottom"
                                                            config="ComboBox['area_combobox'].config"
                                                            options="ComboBox['area_combobox'].options"
                                                            ng-model="obj.areaId"
                                                            table="ComboBox['area_combobox'].table"
                                                            column="ComboBox['area_combobox'].column"
                                                            ng-change="areaChangeMulti($index)"
                                                            ng-model-object="selectedCbb.areaMulti"
                                                            scope-controller="ComboBox['area_combobox'].scope"
                                                            selectize>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="parsley-row">
                                                    <input
                                                            ng-required="false"
                                                            data-parsley-required-message="{{messages.required}}"
                                                            data-parsley-trigger="focusin focusout"
                                                            position="bottom"
                                                            config="ComboBox['areaShort'].config"
                                                            options="ComboBox['area_combobox'].options"
                                                            ng-model="obj.areaId"
                                                            table="ComboBox['areaShort'].table"
                                                            column="ComboBox['areaShort'].column"
                                                            ng-change="areaChangeMulti($index)"
                                                            ng-model-object="selectedCbb.areaMulti"
                                                            scope-controller="ComboBox['areaShort'].scope" selectize>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>
